/* For styling the rendered Markdown */

/* This custom css contains the theme of tessus (https://github.com/tessus/joplin-custom-css), modified */
/* with some code from the theme of amanndamcg (https://github.com/amandamcg/joplin-theme) to have some */
/* of the colours she uses, and especially her wonderful TOC interactive display. I also added the Latin Modern Roman */
/* font because I like the style of LaTeX */

/* This theme has been further customized by Klemet to look more like the "Berlin" theme of Zettlr */

/*****************************************************************************
 * Styling for white custom Theme                                            *
 *                                                                           *
 * Rendered Markdown                                                         *
 * Application styling is defined in `userchrome.css`                        *
 *****************************************************************************/

:root {
  --font-size:                     19px;
  --mark-bgcolor:                  #BBDD66;                    /* greenish */
  --search-result-bgcolor:         #F3B717;                       /* amber */
  --current-search-result-bgcolor: #CF3F00;                         /* red */
  --preformatted-text-bgcolor:     #282c34;                    /* darkgray */
  --heading-bgcolor:               #e9e9e9;                        /* gray */
  --heading-print-bgcolor:         rgba( 28, 178, 126, 1);    /* lightgray */
        --link-color:                    rgba( 28, 178, 126, 1);
        --darker-link-color:             #15875F;
    --white: #e3e3e3;
    --dark-white: #EEF0EA;
    --light-grey: #A3A79F;
    --grey: #575856;
    --dark-grey: #272728;
    --darker-grey: #1D2024;
    --black: #131517;
    --base-size-1: 1px;
    --base-size-4: 4px;
    --base-size-8: 8px;
    --base-size-10: 10px;
    --base-size-13: 18px;
    --base-size-18: 18px;
    --base-size-24: 24px;
    --base-size-32: 32px;
    --base-size-40: 40px;
    --base-size-272: 272px;
    --z-toc: 99;
    --font-weight-light: 200;
    --font-weight-base: 400;
    --font-weight-bold: 1500;
    --font-tittle: "Lato";
    --font-sans: "Palatino";
    --font-mono: "Miriam Mono CLM";
    --primary: #0097DB;
    --secondary: #00dbcc;
    --font-line-height: 1.4em;
    --font-size: var(--base-size-13);
    --icon-size: var(--font-size);
}
/*------ Light grey background color ----------------------------------------*/
body {
  background-color: #FFFFFF !important;
}
/*---------------------------------------------------------------------------*/

/*------ Change the font size to 13px ---------------------------------------*/
body, th, td, .inline-code {
  font-size: var(--font-size);
  font-family: var(--font-sans) !important;
  color: #2f2f2f;
}
/*---------------------------------------------------------------------------*/

/*------ Colors for different mark tags -------------------------------------*/
/* ==mark== */
mark {
  background-color: var(--mark-bgcolor);
  padding:          1px 2px;
}
/* occurrences of search term */
mark[data-markjs] {
  background-color: var(--search-result-bgcolor);
  padding:          0;
}
/* current search term (local search) */
mark[data-markjs].mark-selected {
  background-color: var(--current-search-result-bgcolor);
}
/*---------------------------------------------------------------------------*/

/*------ align checkbox to the first line (baseline) ------------------------*/
li.md-checkbox .checkbox-wrapper {
  align-items: baseline;
}
/*---------------------------------------------------------------------------*/

/*------ Add background and padding to preformatted text --------------------*/
pre {
  padding:    0.5em;
  background: var(--preformatted-text-bgcolor);
}
/*---------------------------------------------------------------------------*/

/*------ Headings: change background and padding ----------------------------*/
h1, h2, h3, h4, h5, h6 {
  /* background-color: var(--heading-bgcolor); */
  padding-bottom:   .1em;
  padding-top:      .2em;
  border-bottom:    unset;
  font-family: var(--font-tittle) !important;
}
h1 {font-size: 1.50em !important; color: #2E383C; font-weight: 800; margin-left: 0px; margin-top: 1.5em;}
/* Horizontal bar after heading 1 */
h1:after
{
    content:' ';
    display:block;
    border:2px solid black;
}
h2 {font-size: 1.25em !important; color: #2E383C; font-weight: 500; margin-left: 30px; margin-top: 1.25em;}
h2:after
{
    content:' ';
    display:block;
    border:1px solid black;
}
h3 {font-size: 1.15em !important; color: #2E383C; font-weight: 400; margin-left: 60px; margin-top: 1.10em;}
h3:after
{
    content:' ';
    display:block;
    border:1px solid black;
}
h4, h5, h6 {font-size: 1.10em !important; color: #2E383C; font-weight: 300; margin-left: 90px; margin-top: 1em;}
h4:after, h5:after, h6:after
{
    content:' ';
    display:block;
    border:1px solid black;
}
/*---------------------------------------------------------------------------*/

/*------ Set correct color for bold and table text ----------------------------*/
strong {
  color: #2E383C;
}

table {
  color: #2f2f2f;
  background-color: #F7F7F7;
  margin-left: auto;
  margin-right: auto;
}

table thead th {
  color: #2f2f2f;
  background-color: var(--heading-bgcolor);
}
table tbody td {
  background-color: #F7F7F7;
  color: #2f2f2f;
}

/*---------------------------------------------------------------------------*/

/*------ Headings: Use nested counters --------------------------------------*/
/* body { counter-reset: h1counter; }
h1 { counter-reset: h2counter; }
h2 { counter-reset: h3counter; }
h3 { counter-reset: h4counter; }
h4 { counter-reset: h5counter; }
h5 { counter-reset: h6counter; }
h6 {}

h1:before {
  counter-increment: h1counter;
  content: counter(h1counter) ".\0000a0\0000a0";
}

h2:before {
  counter-increment: h2counter;
  content: counter(h1counter) "." counter(h2counter) ".\0000a0\0000a0";
}

h3:before {
  counter-increment: h3counter;
  content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
}

h4:before {
  counter-increment: h4counter;
  content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
}

h5:before {
  counter-increment: h5counter;
  content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
}

h6:before {
  counter-increment: h6counter;
  content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ".\0000a0\0000a0";
} */
/*---------------------------------------------------------------------------*/

/* Links prettier (Amanda's code) */

a, summary {
    text-decoration: none !important;
    padding: 0 0 var(--base-size-4) 0 !important;
    color: var(--link-color) !important;
    font-weight: bolder !important;
}

a:hover {
    border-bottom: var(--base-size-1) dashed var(--link-color) !important;
}

a[data-resource-id] {
    color: var(--primary) !important;
    /* change the colour of INTERNAL links */
    /* https://discourse.joplinapp.org/t/share-your-css/1730/65 */
}

a[data-resource-id]:hover {
    border-bottom: var(--base-size-1) dashed var(--primary) !important;
}

/* joplin icon in joplin link */
.resource-icon {
    background-color: var(--primary) !important;
    width: 1.125em;
    height: 1.35em;
    top: 0.15em;
}

/* Changing the colour of internal links for headers */

h1 a[data-resource-id]{
    color: #f2f2f2 !important;
}
h2 a[data-resource-id]{
    color: #f2f2f2 !important;
}
h3 a[data-resource-id]{
    color: #f2f2f2 !important;
}
h4 a[data-resource-id]{
    color: #f2f2f2 !important;
}
h5 a[data-resource-id]{
    color: #f2f2f2 !important;
}
h6 a[data-resource-id]{
    color: #f2f2f2 !important;
}

/*---------------------------------------------------------------------------*/

/*------ TOC: Use nested counters for list items ----------------------------*/
.table-of-contents ol {
  font-family: var(--font-tittle) !important;
}
.table-of-contents li {
  font-family: var(--font-tittle) !important;
}
.table-of-contents li:before {
  font-family: var(--font-tittle) !important;
}
/*---------------------------------------------------------------------------*/

/*------ TOC: Give title fonts ----------------------------*/
.table-of-contents ol {
  counter-reset: list-item;
}
.table-of-contents li {
  display: block; counter-increment: list-item;
}
/* .table-of-contents li:before {
  content: counters(list-item,'.') '.\0000a0';
} */
/*---------------------------------------------------------------------------*/


/*------ TOC: Make TOC a fixed height and scrollable ------------------------*/
/*
.table-of-contents {
  overflow-y: auto;
  height: 18em;
}
*/
/*---------------------------------------------------------------------------*/

/*------ Katex: Make font (symbols and formulas) bigger ---------------------*/
/*
.katex {
  font-size: 1.6em;
}
*/
/*---------------------------------------------------------------------------*/

/*------ set general link color (includes TOC links) ------------------------*/
/*
a {
  color: #a6a6ff;
}
*/
/*---------------------------------------------------------------------------*/

/*------ change the color of INTERNAL links ---------------------------------*/
/*
a[data-resource-id] {
  color: #d28fff;
}
*/
/*---------------------------------------------------------------------------*/

/*------ change other resource link icons color to internal link color ------*/
/*
.resource-icon {
  background-color: #d28fff;
}
*/
/*---------------------------------------------------------------------------*/

/*------ do not display the Joplin resource icon ----------------------------*/
/*
.resource-icon.fa-joplin {
  display: none;
}
*/
/*---------------------------------------------------------------------------*/

/*------ Better alignment for resource icons --------------------------------*/
.resource-icon {
  top: .4em !important;
}
/*---------------------------------------------------------------------------*/

/*------ thinner outline for links and sections -----------------------------*/
a, summary {
  outline-width: 3px;
}
/*---------------------------------------------------------------------------*/

/*------ no outline for sections --------------------------------------------*/
summary {
  outline: none;
}
/*---------------------------------------------------------------------------*/

@media screen {

  nav.table-of-contents>ul {
      top: 0;
     right: 0;
      position: fixed;
      z-index: var(--z-toc);
      background: var(--dark-grey);
     padding: var(--base-size-8);
     border-radius: var(--base-size-4);
     max-width: 15%;
     font-size: calc(var(--font-size)/1.3) !important;
      max-height: var(--base-size-272);
     overflow: scroll;
     opacity: 0.8;
  }

  nav.table-of-contents ul {
     list-style-type: none;
     margin-left: var(--base-size-4);
  }

  nav.table-of-contents li {
      white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     margin-bottom: 0;
  }

  nav.table-of-contents li a {
      padding: 0;
      color: var(--light-grey) !important;
  }

  @media all and (min-width: 920px) {
     nav.table-of-contents>ul {
         height: 100%;
         max-height: 100%;
     }

     #rendered-md {
         width: 75%;
     }
  }

}

/*------ Print: Adjustments for printing and PDF export ---------------------*/
@media print {

  /* reset background and padding for preformatted text */
  pre {
    padding: unset;
    background: unset;
  }

  /* lighter background for headings
  h1, h2, h3, h4, h5, h6 {
    background-color: var(--heading-print-bgcolor);
  } */

    /* lighter background */
	body {
	  background-color: #ffffff !important;
	}

  /* do not print note title (or when exporting to PDF) */
  /*
  .exported-note-title {
    display: none !important;
  }
  /* Give the right font to the title */
  .exported-note-title {
    font-family: var(--font-tittle) !important;
  }
  /* We change the color of the links for a darker green color */
  a, summary {
      text-decoration: none !important;
      padding: 0 0 var(--base-size-4) 0 !important;
      color: var(--darker-link-color) !important;
      font-weight: bolder !important;
  }

  a:hover {
     border-bottom: var(--base-size-1) dashed var(--darker-link-color) !important;
  }

  a[data-resource-id] {
     color: var(--primary) !important;
     /* change the colour of INTERNAL links */
      /* https://discourse.joplinapp.org/t/share-your-css/1730/65 */
  }

  a[data-resource-id] :hover {
      border-bottom: var(--base-size-1) dashed var(--primary) !important;
  }

  /* joplin icon in joplin link */
  .resource-icon {
     background-color: var(--primary) !important;
      width: 0.75em;
      height: 0.9em;
     top: 0.1em;
  }



}
/*---------------------------------------------------------------------------*/
